<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content, :onkeyup => "displayAvailableChars(this)" %>
    <p id="available_chars">140 characters available.</p>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>